:root {
  --color-1: rgb(238, 243, 255);
  --color-2: rgba(0, 0, 0, 0.4);
  --color-3: rgb(43, 54, 71);
  --color-4: rgb(71, 88, 114);
  --color-5: rgb(239, 119, 39);
  --shadow: 2px 2px 6px var(--color-2);
}

body {
  background-color: var(--color-1);
  color: var(--color-3);
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "menu-bar"
    "gallery"
    "footer";
}

.info-container h4,
.info-container p,
.footer p {
  margin: 0;
}

.menu {
  grid-area: menu-bar;
  background-color: var(--color-3);
  color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  padding-left: 1rem;
}

.menu-title {
  margin: 0;
  font: large Verdana, sans-serif;
}

.menu-icon {
  font-size: x-large;
  margin: 0.75rem 1rem;
}

.menu-icon:not(.active) {
  animation: hamburger-close 2s backwards;
}

.menu-icon.active {
  animation: hamburger-open 2s forwards;
}

.menu-items {
  max-height: 0;
  margin: 0;
  padding: 0;
  background-color: var(--color-4);
  transition-duration: 2.5s;
  list-style: none;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon.active + .menu-items {
  max-height: 100rem;
}

.menu-items li {
  color: var(--color-1);
}

.menu-items hr {
  width: 100%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
}

.menu-items li:first-child {
  padding-top: 0.5rem;
}

.menu-items li:last-child {
  padding-bottom: 0.5rem;
}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 2rem;
  gap: 1rem;
  overflow-y: auto;
}

.god-img {
  background-image: url("../img/gods.webp");
  aspect-ratio: 5/6;
  background-size: 450%;
}

.gallery > .god-img {
  animation: 5s ease-out infinite shake;
  filter: grayscale(50%) drop-shadow(0 0 0.35rem var(--color-2));
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: var(--color-2);
  display: none;
}

.info-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: var(--color-1);
  display: grid;
  gap: 0.6rem 0.8rem;
  grid-template-columns: 0.25rem max-content 1fr 0.25rem;
  grid-template-areas:
    "god-img god-img god-img god-img"
    ". greek-title greek-text ."
    ". roman-title roman-text ."
    ". desc-text desc-text .";
  padding-bottom: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.info .god-img {
  transform: scale(1);
  width: 100%;
  justify-self: center;
  grid-area: god-img;
}

.info .god-img:hover {
  animation: none;
}

.greek-title {
  grid-area: greek-title;
}

.greek-text {
  grid-area: greek-text;
}

.roman-title {
  grid-area: roman-title;
}

.roman-text {
  grid-area: roman-text;
}

.desc-text {
  grid-area: desc-text;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  margin: 0.2rem 0 0.5rem;
}

.social {
  display: flex;
  gap: 0.75rem;
}

.social .link {
  color: inherit;
  text-decoration: none;
}

@keyframes shake {
  25% {
    transform: rotate(-2.5deg) translate(-0.25rem, 0.5rem);
  }
  75% {
    transform: rotate(+2.5deg) translate(0.25rem, -0.5rem);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes color {
  0% {
    filter: grayscale(0%) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
  }
  50% {
    filter: grayscale(30%) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.55));
  }
  100% {
    filter: grayscale(0%) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
  }
}

@keyframes hamburger-close {
  from {
    transform: rotateY(-60deg) rotateZ(-90deg);
  }
}

@keyframes hamburger-open {
  from {
    transform: rotateX(-60deg);
  }

  to {
    transform: rotateZ(-90deg);
  }
}

@media screen and (min-width: 860px) {
  body {
    grid-template-areas:
      "menu-bar gallery"
      "footer gallery";
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr min-content;
  }

  a i:hover,
  .menu-items li:hover {
    color: var(--color-5);
  }
  .menu {
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu-logo-container {
    padding: 0;
  }

  .menu-title {
    margin: 1rem 0;
  }

  .menu-icon {
    display: none !important;
  }

  .menu-items {
    max-height: unset;
    flex-grow: 1;
    padding: 0;
    transition: none;
  }

  .menu-items li {
    cursor: pointer;
  }

  .menu-items li:first-child {
    padding-top: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .gallery > .god-img {
    min-width: 0;
    cursor: pointer;
    filter: grayscale(80%);
  }

  .god-img:hover {
    transform: scale(1);
    animation: 4s ease 6 forwards color;
  }

  .info-container {
    width: 30rem;
  }

  .footer {
    background-color: var(--color-4);
    color: var(--color-1);
    margin: 0;
    padding: 1rem;
    gap: 0.5rem;
  }

  .social {
    font-size: large;
  }
}
